body {
    background: #fff;
    font-style: normal;
    font: 14pt 'Georgia', 'Times New Roman', serif; 
    line-height: 1.7;
    /* font-family: "Helvetica", "Arial", sans-serif; */
    color: #000;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
}

/* Header */
.header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: #2A5464;
    line-height: 1.0;
    color: #eee;
}

h1 {
    position: relative;
    top: 25px;
    left: 30px;
    padding: 0px;
    right: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 30px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.2;
    white-space: nowrap;
}

/* Headline */
h2 {
    position: relative;
    top: 0px;
    left: 0px;
    right: 40px;
    color: #2A5464;
    margin: 25px 0px 20px 0px;
    padding: 0;
    font-size: 32px;
    line-height: 1.2;
    font-family: "Helvetica", "Arial", sans-serif;
    border-bottom: 1px solid #666;
}

/* Content area */
.content {
	width: 940px;
}

/* Body text */
.bodytext {
    float: left;
    width: 600px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Margin */
.margin {
	margin-top: 10px;
    float: right;
    width: 260px;
}

/* Margin notes */
.marginnote {
    position: absolute;
    left: 680px;
    width: 260px;
    padding: 0;
    margin: 0;
    font-size: 10pt;
    color: #666;
    display: inline-block;
    border-bottom: 1px solid #666;
}

/* Links */
a { 
    color: #2A7896;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Figure */
.figure {
	text-align: center;
	margin-bottom: 30px;
}

.caption {
	font-size: 12pt;
	font-style: italic;
}

img {
	width: 600px;
	padding: 0px;
	margin-bottom: -25px;

}

/* Breadcrumb */
ol.breadcrumb { 
    /* Style the list */
    position: relative;
    top: 5px;
    left: 30px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-bottom: -12px
}

ol.breadcrumb li { 
    /* Display list items side by side */
    display: inline;
    font-size: 12px;
    
	padding: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;}

ol.breadcrumb li+li:before {
    /* Add a slash symbol (/) before/behind each list item */
    padding: 10px;
    content: "\226B";
}

ol.breadcrumb li a {
    /* Add a color to all links inside the list */
    text-decoration: none;
    color: #eee;
}

ol.breadcrumb li a:hover {
    /* Add a color on mouse-over */
    text-decoration: none;
}

/* Table */
table {
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
    border-spacing: 2px;
}

table > * > tr > th {
    background-color: #eaecf0;
    text-align: center;
    font-weight: bold;
    width: 120px;
}

table > tr > td, table > * > tr > th, table > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    display: table-cell;
    vertical-align: top;
}

table > tr > td > img, table > * > tr > th > img, table > * > tr > td > img {
	width: 150px;
	margin: 0px;
	float: left;
}